body {
  font-family: 'Open Sans', sans-serif;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: lightpink;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: honeydew;
  border-bottom: 1px solid darkblue;
}

nav a {
  display: inline-block;
  margin: 1em;
  text-decoration: none;
  color: darkblue;
}

nav a:hover {
  color: lightpink;
}

#site-title {
  font-family: 'Montserrat', sans-serif;
  margin: 1rem;
  padding: 0.5rem;
  color: darkblue;
}


