@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* GENERAL CSS */
body {
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: white;
  background-image: url("istockphoto-1157329161-612x612.jpeg");
}

.content-wrapper {
  padding: 10px;
}

h1,
h2,
h3 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #0e2438;
}

h1 {
  font-size: 4em;
  line-height: 1;
}
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}
p,
a,
span {
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: inherit;
}
/* svg {
  color: #b7926a; */
/* } */
span,
label {
  font-size: 0.85em;
}
input,
select {
  padding: 1em 2em;
  margin: 0.5rem;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
}
/* .disabled {
  color: #999;
  text-decoration: line-through;
}
.clickable {
  cursor: pointer;
} */
button {
  border: 0;
  background-color: steelblue;
  color: white;
  padding: 0.5rem;
  font-size: 1em;
  cursor: pointer;
  font-weight: normal;
  box-shadow: 0 0 0 1px #0e2438;
  border-radius: 10px;
}
button:hover {
  background-color: #e7cbb0;
  color: #0e2438;
  box-shadow: 0 0 0 1px #0e2438;
}

button:active {
  background-color: #ff945e;
}

.cancel-button {
  background-color: white;
  color: #0e2438;
}

.delete-button {
  background-color: darkred;
  color: white;
}

/* .hyperlink {
  text-decoration: underline;
} */
/* .cta {
  background-color: #222;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
} */

/* .ctadisabled {
  background-color: #ddd;
  color: #fff;
  padding: 1em 2em;
  font-size: 0.8em;
  letter-spacing: 0.05em;
  cursor: default;
}
.brandblock {
  width:80px;
  height: 5px;
  margin: 20px 5px;
  background-color:#b7926a;
}
.hrtxt {
  margin: -1.2em auto;
  padding: 0 2em 2em 2em;
  background-color:#fff;
  display: block;
  width: fit-content;
} */

a {
  text-decoration: none;
  color: #0e2438;
  cursor: pointer;
}

a:hover {
  color: steelblue;
}

button > a {
  text-decoration: none;
  color: white;
  line-height: 1;
}

button > a:hover {
  color: #0e2438;
}

/* NAV BAR */
#header {
  background-color: #0e2438;
  border-bottom: 1px solid steelblue;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0rem;
  padding-top: 0rem;
}

nav a {
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #e7cbb0;
}

#site-title {
  font-family: "Montserrat", sans-serif;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: white;
  background-color: #0e2438;
}

/* LOGIN */
#login-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 1px solid #0e2438;
  border-radius: 10px;
  padding: 1rem;
  margin: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  height: 8rem;
}

#google-signin:hover {
  box-shadow: 0 0 0 1px #0e2438;
}

/* HOME-DASHBOARD */
.widget-flex {
  display: flex;
}

/* PROJECT VIEWS */
#project-list-titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0rem;
  margin: 0.5rem;
  margin-bottom: 0rem;
}

#project-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #0e2438;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
}

.project-button {
  display: flex;
  justify-content: right;
  margin: 0.5rem;
}

.project-form {
  display: flex;
}

.project-form-left {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 1rem;
}

.project-form-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
}

.date-selectors {
  display: flex;
}

.single-project-container {
  display: flex;
  justify-content: space-between;
  background-color: #0e2438;
  border: 1px solid #0e2438;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
}

.project-tasks-container {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid #0e2438;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
}

.single-project-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.single-project-right {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.project-info-container {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
}

.project-info-container-buttons {
  background-color: white;
  border-radius: 10px;
  padding: 1.4rem;
  margin: 0.5rem;
}
.project-info-container-buttons > button {
  margin-right: 1.5rem;
}

.tasklist-cont {
  color: white;
  background-color: #0e2438;
  border-radius: 5px;
  width: 300px;
  padding: 12px;
  margin-right: 8px;
  font-family: "Open Sans", "sans-serif";
}

.tasklist-cont > h3 {
  color: white;
}

.card-div {
  cursor: move;
}

.card-div-btn-del {
  position: absolute;
  z-index: 2;
  top: 1px;
  display: none;
  left: 10px;
}

.card-div:hover .card-div-btn-del {
  display: block;
}

.card-div > h4 {
  color: #0e2438;
}

/* PROFILE */
.avatar {
  display: flex;
  margin-top: 20px;
  margin-left: 70px;
  height: 190px;
  width: 190px;
  border-radius: 25;
}

.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.clock {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
